<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UI.Properties.Settings>
            <setting name="W1" serializeAs="String">
                <value>California</value>
            </setting>
            <setting name="W2" serializeAs="String">
                <value>Everything</value>
            </setting>
            <setting name="W3" serializeAs="String">
                <value>Aboveboard</value>
            </setting>
            <setting name="W4" serializeAs="String">
                <value>Washington</value>
            </setting>
            <setting name="W5" serializeAs="String">
                <value>Basketball</value>
            </setting>
            <setting name="W6" serializeAs="String">
                <value>Weathering</value>
            </setting>
            <setting name="W7" serializeAs="String">
                <value>Characters</value>
            </setting>
            <setting name="W8" serializeAs="String">
                <value>Literature</value>
            </setting>
            <setting name="W9" serializeAs="String">
                <value>Perfection</value>
            </setting>
            <setting name="W10" serializeAs="String">
                <value>Volleyball</value>
            </setting>
            <setting name="C1" serializeAs="String">
                <value>Clue : Some Place in United States </value>
            </setting>
            <setting name="C2" serializeAs="String">
                <value>Clue : Something which represent all</value>
            </setting>
            <setting name="C3" serializeAs="String">
                <value>Clue : I exactly don't know the meaning of this word</value>
            </setting>
            <setting name="C4" serializeAs="String">
                <value>Clue : Some Place in United States </value>
            </setting>
            <setting name="C5" serializeAs="String">
                <value>Clue : This is one of the fameous game</value>
            </setting>
            <setting name="C6" serializeAs="String">
                <value>Clue : What kind of word is that</value>
            </setting>
            <setting name="C7" serializeAs="String">
                <value>Clue : When charector is lost every thing is lost</value>
            </setting>
            <setting name="C8" serializeAs="String">
                <value>Clue : This thing needs lots of experience</value>
            </setting>
            <setting name="C9" serializeAs="String">
                <value>Clue : I like this word very much</value>
            </setting>
            <setting name="C10" serializeAs="String">
                <value>Clue : The Truth is I don't like this game very much </value>
            </setting>
        </UI.Properties.Settings>
    </userSettings>
</configuration>