<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <UI.Properties.Settings>
            <setting name="W1" serializeAs="String">
                <value>Sarcophagy</value>
            </setting>
            <setting name="W2" serializeAs="String">
                <value>Zoophilist</value>
            </setting>
            <setting name="W3" serializeAs="String">
                <value>Monography</value>
            </setting>
            <setting name="W4" serializeAs="String">
                <value>Loggerhead</value>
            </setting>
            <setting name="W5" serializeAs="String">
                <value>Lithoglyph</value>
            </setting>
            <setting name="W6" serializeAs="String">
                <value>Chromotype</value>
            </setting>
            <setting name="W7" serializeAs="String">
                <value>Cephalalgy</value>
            </setting>
            <setting name="W8" serializeAs="String">
                <value>Pantamorph</value>
            </setting>
            <setting name="W9" serializeAs="String">
                <value>Smaragdite</value>
            </setting>
            <setting name="W10" serializeAs="String">
                <value>Spurgewort</value>
            </setting>
            <setting name="C1" serializeAs="String">
                <value>Clue : The practice of eating flesh</value>
            </setting>
            <setting name="C2" serializeAs="String">
                <value>Clue : A lover of animals</value>
            </setting>
            <setting name="C3" serializeAs="String">
                <value>Clue : Representation by lines without color</value>
            </setting>
            <setting name="C4" serializeAs="String">
                <value>Clue : A spherical mass of iron, with a long handle, used to heat tar</value>
            </setting>
            <setting name="C5" serializeAs="String">
                <value>Clue : An engraving on a gem</value>
            </setting>
            <setting name="C6" serializeAs="String">
                <value>Clue : A photographic picture in the natural colors</value>
            </setting>
            <setting name="C7" serializeAs="String">
                <value>Clue : Pain in the head; headache</value>
            </setting>
            <setting name="C8" serializeAs="String">
                <value>Clue : That which assumes, or exists in, all forms</value>
            </setting>
            <setting name="C9" serializeAs="String">
                <value>Clue : A green foliated kind of amphibole, observed in eclogite and some varietis of gabbro</value>
            </setting>
            <setting name="C10" serializeAs="String">
                <value>Clue : Any euphorbiaceous plant</value>
            </setting>
        </UI.Properties.Settings>
    </userSettings>
</configuration>